* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}


#header {
    background-color: red;

    h1 {
        background-color: black;

        &+div {
            background-color: blue;

            >h1 {
                background-color: yellow;

                span {
                    span {
                        background: blue
                    }
                }
            }
        }
    }
}

// #header > h1+ div